---
title: Parafee's Page
layout: base.njk
---

<div class="container">
  <h1>Parafee's Page</h1>
  <div class="emoji">
    😋
  </div>
  <div class="quote-container">
    <div class="quote-en"></div>
    <div class="quote-fr"></div>
  </div>
</div> 